* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 2rem;
}

/* HEADER start  */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 5vh;
}
header nav {
  width: 50%;
}
.navleft {
  color: #6b48f8;
}
.navright > ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
}
.navright .hamburger-menu {
  display: none;
}
nav ul > li {
  list-style: none;
  cursor: pointer;
}

.navright .dropdown {
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 9rem;
  padding: 0.3rem;
  border: 1px solid #ddd;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
}

.hidden {
  display: none;
}

.navright .dropdown li {
  padding: 0.5rem;
}
.navright a {
  text-decoration: none;
  color: #292929;
  font-weight: 700;
}
.navright a:hover {
  color: #6b48f8;
}

/* MAIN Index Start */
main {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section {
  background-color: #fff;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5rem;
  border-radius: 15px;
  gap: 1rem;
}

/* MAIN Index End */

/* MAIN - w-1 */
.weeks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  width: 100%;
  padding: 2rem;
}
.weeks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  align-items: center;
}

.activities,
.corrections,
.group-works,
.extra-resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  min-width: 16rem;
  max-width: 26rem;
  padding: 2rem;
  min-height: 35vh;
}

.weeks .list {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style: none;
}

/* FOOTER Start */

/* Media queries for tablet/mobile */



@media screen and (max-width: 900px) {
  /* Navbar tablet */
  .navright .dropdown {
    /* display: none; */
    width: 7rem;
    top: 6rem;
    right: 1.9rem;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.1);
  }
  main {
    height: fit-content;
    margin: 2rem 0 5rem;
  }
  /* Weeks tablet */
  .activities,
  .corrections,
  .group-works,
  .extra-resources {
    min-width: 16rem;
    max-width: 26rem;
    padding: 2rem;
    min-height: 25vh;
  }
}
@media screen and (max-width: 500px) {
  header {
    height: 8vh;
  }
  /*.mobileDropdownHeader {
    height: 11rem;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  } */
  .navright .full-rightnav {
    /* display: none; */
    position: absolute;
    top: 8rem;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0;
    background-color: #fff;
    border-radius: 15px;
    width: 18.5rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .navright .full-rightnav li {
    width: 100%;
    border-top: 1px solid #292929;
    text-align: center;
    padding: 1rem;
  }

  .navright .hamburger-menu {
    display: flex;
  }
  .navright .hamburger-menu img {
    width: 2rem;
    height: 2rem;
  }
  main {
    position: relative;
    top: 15rem;
  }
  .mobileDropdownMain {
    display: none;
    position: relative;
    top: 15rem;
  }
  .mobileDropdown {
    position: absolute;
    top: 8rem;
    transform: translate(-50%, 0);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 0;
    background-color: #fff;
    border-radius: 15px;
    width: 18.5rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .mobileDropdown  li {
    justify-self: center;
  }
  .navright .dropdown {
    display: none;
  }
  .mobileDropdownWeeks {
    display: flex;
    flex-direction: column;
  }
}
