body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  background: #6ec1e4;
  color: white;
  padding: 0 30px;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 3px;
  padding: 20px;
  margin: 20px;
  width: 100%;
}
.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: white;
  border-radius: 3px;
  padding: 1rem;
  color: black;
  margin: 1rem;
  width: 20rem;
}
ul {
  padding: 1rem;
}
li {
  border: 1px solid white;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  list-style: none;
}

a.link {
  color: #f8485e;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #f8485e;
  padding: 5px 10px;
  margin: 20px;
  display: inline-block;
  border-radius: 3px;
}
